@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply font-[Poppins]
    }

    li {
        @apply p-4 text-sm
    }

    button {
        @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
    }

    h2 {
        @apply text-xl font-bold
    }

    a:hover {
        @apply text-white border-b-2 border-white
    }
}

@layer components {
    .menu-item {
        @apply pb-0 p-2 inline-block border-b-[4px] border-spacing-y-4 border-black hover:border-white
    }

    .logo:hover {
        @apply border-none
    }

    .mega-sub-item:hover {
        @apply block bg-white text-black cursor-pointer
    }

    .mega-sub-item-title {
        @apply block font-semibold text-xl mb-5
    }

    .menu-sub-item:hover {
        @apply block bg-white text-black
    }

    input:focus-within~label:not(#rememberMe), 
    input:not(:placeholder-shown)~label:not(#rememberMe) {
        @apply transform scale-75 -translate-y-6;
    }

    input:focus-within~label {
        @apply text-blue-500;
    }  
}

@layer utilities {
    .sub-dropdown:hover>.sub-dropdown-content {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    .sub-dropdown:hover>a {
        background-color: #fff;
        text-decoration-color: black;
    }
}