@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply font-[Poppins] block
    }

    li {
        @apply p-4 text-sm 
    }

    button:not(.nav-button, .search, .loginbtn){
        @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
    }

    h2 {
        @apply text-xl font-bold
    }
}

@layer components {
    .link {
        @apply relative inline-block
    }

    .link::before {
        content: '';
        @apply absolute left-0 bottom-0 w-[100%] h-[2px] bg-[#fff] rounded scale-x-0 scale-y-100 origin-left transition-all duration-300
    }

    .link:hover::before {
        @apply scale-100
    }

    .menu-item {
        @apply pb-0 p-2
    }

    .mega-sub-item:hover {
        @apply block bg-white text-black cursor-pointer
    }

    .mega-sub-item-title {
        @apply block font-semibold text-xl mb-5
    }

    .menu-sub-item:hover {
        @apply block bg-white text-black
    }

    input:focus-within~label:not(#rememberMe), 
    input:not(:placeholder-shown)~label:not(#rememberMe) {
        @apply transform scale-75 -translate-y-6;
    }

    input:focus-within~label {
        @apply text-blue-500;
    }  

    .active {  
        @apply text-blue-500 font-bold
    }
}

@layer utilities {
    .sub-dropdown:hover>.sub-dropdown-content {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    .sub-dropdown:hover>a {
        background-color: #fff;
        text-decoration-color: black;
    }

    /* scrollbar */
    .scrollbar::-webkit-scrollbar {
        width: 20px;
      }
    
      .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
      }
    
      .scrollbar::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
      }
    
      .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
      }

      .scrollbar::-webkit-scrollbar-thumb {
        height: 90px;
      }

    /* progress */
      progress::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 100px;
      }

      progress::-webkit-progress-value {
        background-color: steelblue;
        border-radius: 100px;
      }
}